<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyze.count_of_words %></h2>

<h2>Vowels: <%= @analyze.count_of_vowels %></h2>

<h2>Consonants: <%= @analyze.count_of_consonants%></h2>
<% most_used = @analyze.most_used_letter %>
<h2>Most Common Letter: <%= most_used.keys.first.capitalize %>, used <%= most_used.values.first %> times</h2>
